.CSS{
    color: rgb(14, 218, 207);
}
.CSS1{
    color: rgb(145, 255, 1);
}
.CSS2{
    color: grey;
}
.CSS3{
     background-color: rgb(6, 189, 180);
     width: 50%;
     height: 199px;
     float: left;
}
.CSS4{
    color: whitesmoke;
    margin-left: 70px;
    margin-top: 40px;
}
.CSS5{
    color: white;
    margin-left: 70px;
    font-size: 25px;
}
.CSS6{
    color: turquoise;
}
.CSS7{
    color: rgb(196, 220, 240);
    margin-left: 70px;
}
.CSS8{
    color: white;
    background-color: chartreuse;
    margin-left: 200px;
    width: 35%;
    height: 15%;
    border-radius: 5%;
}
.CSS9{
    background-color: turquoise;
    width: 50%;
    float: right;
}
.CSS10{
    color: white;
    margin-top: 20px;
    margin-left: 70px;
}
.CSS11{
    color: rgb(188, 239, 252);
    margin-left: 70px;
}
